<div class = "text-center">
    <div class = "mb-5">
        <h1>My Expenses</h1>
        <p>Manage your expenses easily</p>
        <img 
        style = "width: 30%"
        src = "https://firebasestorage.googleapis.com/v0/b/expenses-83002.appspot.com/o/Budget-Balance.png?alt=media&token=7bc6c8c1-ded4-4dbc-b4d2-18ad3056946e"
        alt = "Expenses image"
        />
    </div> 
    <button class = "bth btn-info" (click)="expensesService.signInWithGoogle()">Sign In with Google</button>
     
</div>

