<div class = "row">
    <div class = "col-sm-6">
        <h3>{{ user.displayName }}</h3>
    </div>
    <div class = "col-sm-6 text-right">
        <button class = "btn btn-danger" (click) = "expensesService.signOut()">Sign Out</button>
    </div>
</div>

<div class = "my-3">
<table class = "table table-bordered table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of expenses">
            <td>{{ expense.date.toDate() | date }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount }}</td>
        </tr>
    </tbody>
</table>
</div>

<app-add-expenses></app-add-expenses>