<h4>Add new expense</h4>
<form (ngSubmit) = "addExpense()">
    <div class = "row mb-3">
        <div class = "col-md-6">
            <label for="dateInput">Date</label>
            <input type="date" 
            id="dateInput" 
            name = "dateInput" 
            class = "form-control"
            [(ngModel)]="date">
        </div>
        <div class="col-md-6">
            <label for = "amountInput">Amount</label>
            <input type="number" 
            id="amountInput" 
            name = "amountInput" 
            class = "form-control"
            placeholder="How much did I pay?"
            [(ngModel)]="amount">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
                <label for = "descriptionInput">Description</label>
                <input type="text" 
                id="amountInput" 
                name = "descriptionInput" 
                class = "form-control"
                placeholder="What did I pay for?"
                [(ngModel)]="description">
        </div>
    </div>
    <button class = "btn btn-primary" >Add</button>
</form>